.icon-telegram {
  width: 2.7778vw;
  height: 2.7778vw;
  display: inline-block;
  background-color: currentColor;
  mask-image: url("../images/icons/telegram.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
.icon-plus {
  width: 1.3889vw;
  height: 1.3889vw;
  display: inline-block;
  background-color: currentColor;
  mask-image: url("../images/icons/plus.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
.icon-minus {
  width: 1.3889vw;
  height: 1.3889vw;
  display: inline-block;
  background-color: currentColor;
  mask-image: url("../images/icons/minus.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
.icon-close {
  width: 1.3889vw;
  height: 1.3889vw;
  display: inline-block;
  background-color: currentColor;
  mask-image: url("../images/icons/close.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
.icon-play {
  height: 4.167vw;
  width: 4.167vw;
  display: inline-block;
  background-color: currentColor;
  mask-image: url("../images/icons/play.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transition: all 0.2s ease-in-out;
}
.icon-play-small {
  width: 0.625vw;
  height: 1.042vw;
  display: inline-block;
  background-color: currentColor;
  mask-image: url("../images/icons/play-small.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transition: currentColor 0.2s ease-in-out;
}
.icon-close-circle {
  width: 3.472vw;
  height: 3.472vw;
  display: inline-block;
  background-image: url("../images/icons/close-circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-arrow-right {
  width: 1.3889vw;
  height: 1.3889vw;
  display: inline-block;
  background-color: currentColor;
  mask-image: url("../images/icons/arrow-right.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transition: all 0.2s linear;
}
.icon-arrow-right-small {
  width: 1.3889vw;
  height: 1.3889vw;
  display: inline-block;
  background-color: currentColor;
  mask-image: url("../images/icons/arrow-right-small.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin-left: -2px;
  transition: all 0.2s linear;
  vertical-align: top;
}

@media screen and (min-width: 1600px) {
  .icon-telegram {
    width: 44px;
    height: 44px;
  }
  .icon-plus {
    width: 22px;
    height: 22px;
  }
  .icon-minus {
    width: 22px;
    height: 22px;
  }
  .icon-close {
    width: 22px;
    height: 22px;
  }
  .icon-play {
    height: 67px;
    width: 67px;
  }
  .icon-play-small {
    width: 10px;
    height: 17px;
  }
  .icon-close-circle {
    width: 56px;
    height: 56px;
  }
  .icon-arrow-right {
    width: 22px;
    height: 22px;
  }
  .icon-arrow-right-small {
    width: 22px;
    height: 22px;
  }
}

@media screen and (max-width: 600px) {
  .icon-telegram {
    width: 10.6667vw;
    height: 10.6667vw;
  }
  .icon-plus {
    width: 5.3vw;
    height: 5.3vw;
  }
  .icon-minus {
    width: 5.3vw;
    height: 5.3vw;
  }
  .icon-close {
    width: 5.33vw;
    height: 5.33vw;
  }
  .icon-play {
    height: 10.667vw;
    width: 7.68vw;
  }
  .icon-play-small {
    width: 2.8vw;
    height: 2.8vw;
  }
  .icon-close-circle {
    width: 13.333vw;
    height: 13.333vw;
  }
  .icon-arrow-right {
    width: 5.33vw;
    height: 5.33vw;
  }
  .icon-arrow-right-small {
    width: 5.33vw;
    height: 5.33vw;
  }
}

