.icon-telegram {
  width: 1.5278vw;
  height: 1.25vw;
  display: inline-block;
  background-color: currentColor;
  mask-image: url("../images/icons/telegram.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

